<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Duddukunta Divya</h2>
            <h4>ddudduk1@in.ibm.com</h4>
        </div>
        <img src="../assets/images/Divya.jpg" alt="">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">plans</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/arctcles">News</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Leads</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
        </a>
        

</mat-nav-list>